body {
  overflow-x: hidden;
  background: black;
  font-family: 'Titillium Web';
  color: #DBD5FD;
}

h1 {
  font-family: 'RocknRoll One';
  font-size: 2.7em;
  padding-top: 40px;
  color: #D7D1F8;
}

h3 {
  font-size: 1.4em;
  padding-top: 50px;
}

.center {
  text-align: center;
}

table {
  position: relative;
  bottom: 340px;
  left: 770px;
  font-size: 1.09em
}

@media screen and (max-width: 1135px) {
  table {
    top: 100px;
    left: 220px;
    font-size: 0.9em
  }

  tr {
    width: 100%;
  }

  .copyright {
    position: relative;
    top: 150px;
    opacity: 75%;
  }
}

th {
  color: #EFECFF;
  letter-spacing: 1px;
  width: 67%;
  height: 60px;
}

td {
  color: #D7D1F8;
}

.copyright {
  padding-top: 0;
  opacity: 75%;
}

.solarS {
  position: relative;
  left: 250px;
  top: 50px;
  z-index: -2;
}

@media screen and (max-width: 660px) {
  .solarS {
    position: relative;
    left: 35px;
    top: 150px;
    z-index: -2;
  }

  th {
    height: 90px;
    font-size: 0.8em
  }

  table {
    top: 150px;
    left: 150px;
    font-size: 0.9em
  }

  tr {
    width: 100%;
  }
}

.counter {
  position: relative;
  top: 150px;
  left: 45px;
  font-size: 1.2em
}

.count {
  font-size: 2em;
}